<div class="site clearfix">
          <div id="site-container" class="context-loader-container" data-pjax-container="">
          
            
            
<div class="marketing-section-signup">
  <div class="container">
      <form accept-charset="UTF-8" action="/join" autocomplete="off" class="form-signup-home js-form-signup-home" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="GiNZy9LXB9jE2eJdy+ktymOzPkhFz7Z4d+M6yNt0w5IFWK8/YS2WatT5X1oN1478MN1YIh9g75lLbLfqhCvU5A=="></div>        <dl class="form">
          <dd>
            <input type="text" name="user[login]" class="textfield" placeholder="Pick a username" data-autocheck-url="/signup_check/username" autofocus="">
          </dd>
        </dl>
        <dl class="form">
          <dd>
            <input type="text" name="user[email]" class="textfield js-email-notice-trigger" placeholder="Your email" data-autocheck-url="/signup_check/email">
          </dd>
        </dl>
        <dl class="form">
          <dd>
            <input type="password" name="user[password]" class="textfield" placeholder="Create a password" data-autocheck-url="/signup_check/password">
          </dd>
          <p class="text-muted">Use at least one lowercase letter, one numeral, and seven characters.</p>
        </dl>
        <input type="hidden" name="source_label" value="Homepage Form">
        <button class="button primary button-block" type="submit">Sign up for GitHub</button>
        <p class="text-muted">
          By clicking "Sign up for GitHub", you agree to our
          <a href="https://help.github.com/terms" target="_blank">terms of service</a> and
          <a href="https://help.github.com/privacy" target="_blank">privacy policy</a>. <span class="js-email-notice">We will send you account related emails occasionally.</span>
        </p>
</form>
    <h1 class="heading">Build software better, together.</h1>
    <p class="subheading">Powerful collaboration, code review, and code management for open source and private projects. Need private repositories? <a href="/plans">Upgraded plans start at $7/mo.</a></p>
  </div><!-- /.container -->

  <div class="marketing-section-depth"></div>
</div><!-- /.jumbotron -->

<div class="marketing-section">
  <div class="container">
    <div class="marketing-header">
      <h1>Why you’ll love GitHub.</h1>
      <p class="lead"><a href="/features">Powerful features</a> to make software development more collaborative.</p>
    </div>
    <div class="columns marketing-grid">
      <div class="one-half column">
        <div class="marketing-hero-octicon">
          <span class="mega-octicon octicon-checklist"></span>
        </div>
        <h3>Great collaboration starts with communication.</h3>
        <p>Review changes, comment on lines of code, report issues, and plan the future of your project with discussion tools.</p>
      </div>
      <div class="one-half column">
        <div class="marketing-hero-octicon">
          <span class="mega-octicon octicon-organization"></span>
        </div>
        <h3>Friction-less development across teams.</h3>
        <p>Work with project collaborators or teams of people in organization accounts to communicate with ease.</p>
      </div>
      <div class="one-half column">
        <div class="marketing-hero-octicon">
          <span class="mega-octicon octicon-cloud-upload"></span>
        </div>
        <h3>World's largest open source community.</h3>
        <p>Share your projects with the world, get feedback, and contribute to <a href="http://github.com/explore">millions of repositories</a> hosted on GitHub.</p>
      </div>
      <div class="one-half column">
        <div class="marketing-hero-octicon">
          <span class="mega-octicon octicon-zap"></span>
        </div>
        <h3>Do more with powerful integrations.</h3>
        <p>Discover applications and tools that <a href="/integrations">integrate with GitHub</a> to help you and your team build software better, together.</p>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.marketing-section -->

<div class="marketing-section">
  <div class="container">
    <div class="marketing-header">
      <h1 class="show-mac show-linux">The easiest way to use GitHub on Mac</h1>
      <h1 class="hide-mac">The easiest way to use GitHub on Windows</h1>
      <div class="show-mac show-linux">
        <a href="https://central.github.com/mac/latest" class="button primary">
          Download GitHub for Mac
        </a>
        <p class="text-muted">
          <small>OS X 10.8 or later. <a href="http://mac.github.com">Learn more</a></small>
        </p>
      </div>
      <div class="hide-mac">
        <a href="http://github-windows.s3.amazonaws.com/GitHubSetup.exe" class="button primary">
          Download GitHub for Windows
        </a>
        <p class="text-muted">
          For Windows Vista, 7, 8, &amp; 8.1 · <a href="http://windows.github.com">Learn more</a>
        </p>
      </div>
    </div>

    <img src="https://assets-cdn.github.com/images/modules/home/ghfm.png" alt="" class="marketing-section-img show-mac show-linux">
    <img src="https://assets-cdn.github.com/images/modules/home/gh-windows-app.png" alt="" class="marketing-section-img hide-mac">

    <h3 class="show-mac">You can also use <a href="https://windows.github.com/">GitHub on Windows</a>.</h3>

    <h3 class="hide-mac">You can also use <a href="https://mac.github.com/">GitHub on Mac</a>.</h3>

  </div><!-- /.container -->
</div><!-- /.marketing-section -->

<div class="marketing-section marketing-section-enterprise">
  <div class="container marketing-header">
    <h1><a href="https://enterprise.github.com">Bring GitHub to work.</a></h1>
    <p class="lead">Use GitHub Enterprise, the best way to build software, on your servers.</p>
    <a href="https://enterprise.github.com" class="marketing-button">Learn more about Enterprise</a>
    <img class="marketing-section-img" src="https://assets-cdn.github.com/images/modules/home/gh-enterprise-code.png" alt="">
  </div><!-- /.container -->
  <div class="marketing-section-depth"></div>
</div><!-- /.marketing-section -->

          </div>
          <div class="modal-backdrop"></div>
        </div>